body{
    background:#fff;    
}
.chat-list {
		margin-right:20%;
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
	/*height : 150px;*/
	margin-top: 2%;
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}

.inVide {
	height : 150px;
	margin-top: 2%;
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}


.chat-list .chat-img {

    float: left;
    width: 48px;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-message {  /*.chat-list */
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #5a99ee;
  /*  display: inline-block;*/
    padding: 10px 20px;
   /* position: relative;*/
}

 /*  .chat-list .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}*/

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {

    margin-left: 20px;
    float: left;
    width: 70%;
}

.chat-list .in .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #5a99ee;
}

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.chat-list .out .chat-message {
    background: #fc6d4c;
}

.chat-list .out .chat-message:before {
    right: -12px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fc6d4c;
}

/*.card .card-header:first-child {
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    -moz-border-radius: 0.3rem 0.3rem 0 0;
    border-radius: 0.3rem 0.3rem 0 0;
}*/

.card .card-header {
	margin-right : 20%;
    background: #17202b;
    border: 0;
    font-size: 1rem;
    padding: .65rem 1rem;
    font-weight: 600;
    color: #ffffff;
}





/* ----------------- */
/* DEUXIEME TEMPLATE */
/* ----------------- */

.content{
    margin-top:40px;    
}


.containers {
  border: 1px solid #c5835f;
  /*background-color: #f1f1f1;*/
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color:  #c5835f;
/*  background-color: #ddd;*/
}

.containers::after {
  content: "";
  clear: both;
  display: table;
}

.containers img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.containers img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

p.nomDroite{
	
    float: right;
    margin-right: -110px;
    margin-top: 20px;
}

h5.nomDroite {
    float: right;
}

p.nomDroiteSupport{
	
    float: right;
    margin-right: -40px;
    margin-top: 20px;
}

h5.nomDroiteSupport {
    float: right;
}



.border{
border : solid;
}

.border-empty{
	border : solid;
	height: 100px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}