<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editer ma contrepartie</title>


<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/BTStyle.css}" />
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row no-gutter">
			<!-- The content half -->
			<div class="col-md-8 bg-custom">
				<div class="login d-flex align-items-center py-5">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-7 mx-auto">

								<form action="#" th:action="@{/projet/ajouterContrepartie}"
									th:object="${contrePartie}" method="post"
									enctype="multipart/form-data">
									<input type="hidden" th:field="*{collecte}" name="collecte">
										<input type="hidden" th:value="${collecte.id}"  name="CollecteId">
									</p>
									<div class="mb-3">
										<label class="form-label">Montant</label> <input
											th:field="*{montant}" name="montant" type="text"
											placeholder="saison" required="" autofocus=""
											class="form-control shadow-sm px-4">
									</div>
									<div class="mb-3">
										<label class="form-label">Titre</label> <input
											th:field="*{titre}" name="titre" type="text"
											placeholder="titre" required="" autofocus=""
											class="form-control shadow-sm px-4">
									</div>

									<div class="mb-3">
										<label class="form-label">Description</label> <input
											th:field="*{description}" name="description" type="text"
											placeholder="description" required="" autofocus=""
											class="form-control shadow-sm px-4">
									</div>

									<div class="mb-3">
										<label class="form-label">Ajouter photo</label> <input
											th:field="*{image}" name="image" type="file"
											placeholder="image" required="" autofocus=""
											class="form-control shadow-sm px-4">
									</div>

						
							

									<input type="submit"
										class="btn btn-custom-vert text-uppercase mb-2 shadow-sm"
										value="Enregistrer">
									
										<input type="button"class="btn btn-custom-vert btn-block text-uppercase mb-2 shadow-sm" value="Retour" onclick="history.go(-1)"> 
										
								</form>

							</div>
						</div>
					</div>
					<!-- End -->
				</div>
			</div>
			<!-- End -->
			<!-- IMAGE -->
			<div class="col-md-4 d-none d-md-flex bg-image"></div>
		</div>
	</div>
</body>
</html>