
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Administration</title>
<link rel="stylesheet" href="styles.css">
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

   <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/TemplateAdmin.css}" />
<!-- Demo CSS -->
<link rel="stylesheet" href="css/demo.css">

<script>
		$(document).ready(function(){
			$(".hamburger .hamburger__inner").click(function(){
			  $(".wrapper").toggleClass("active")
			})

			$(".top_navbar .fas").click(function(){
			   $(".profile_dd").toggleClass("active");
			});
		})
	</script>
</head>
<body>

	<div class="wrapper">
		<div class="top_navbar">
			<div class="hamburger">
				<div class="hamburger__inner">
					<div class="one"></div>
					<div class="two"></div>
					<div class="three"></div>
				</div>
			</div>
			<div class="menu">
				<div class="logo">Before Tomorrow</div>
				<div class="right_menu">
					<ul>
						<li><i class="fas fa-user"></i>
							<div class="profile_dd">
								
								<div class="dd_item"> <a href="#"  th:href="@{/logout}">
                  					<span class="title">Deconnexion</span>
                					</a>
                				</div>
							</div></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="main_container">
			<div class="sidebar">
				<div class="sidebar__inner">
					<div class="profile">
						<div class="img">
							<!--                 <img src="img/pic.png" alt="profile_pic"> -->
						</div>
						<div class="profile_info">
							<p>Bonjour</p>
							<p class="profile_name" th:text="${Admin.personne.nom}"></p>
						</div>
					</div>
					<ul>
						<li th:if="${Admin.personne.role.toString() == 'ROLE_CHARGE_COM'}">
							<a href="#" th:href="@{/admins/support}" class="active"> <span
								class="icon"><i class="fas fa-dice-d6"></i></span> <span
								class="title">Support</span>
						</a>
						</li>

						<!--               DEUXIEME ONGLET -->
						<li th:if="${Admin.personne.role.toString() == 'ROLE_CHARGE_COM'}">
							<a href="#" th:href="@{/admins/getMembre}"> <span
								class="icon"><i class="fab fa-delicious"></i></span> <span
								class="title">Membre</span>
						</a>
						</li>
						<!--              TROISIEME ONGLET -->

						<li th:if="${Admin.personne.role.toString() == 'ROLE_CHARGE_COM'}">
							<a href="#" th:href="@{/admins/commentaires}"> <span
								class="icon"><i class="fas fa-border-all"></i></span> <span
								class="title">Commentaire<span></a>
						</li>


						<!--             QUATRIEME ONGLET -->

					

					</ul>
				</div>
			</div>
			<div class="containerr">

				<header class="intro">
					<h1>Support</h1>
				
				</header>
				
				<button id="btn_Message" class="btn btn-custom-validation text-uppercase mb-2 shadow-sm">Messages</button>
				<button id="btn_MessageNonLus" class="btn btn-custom-validation text-uppercase mb-2 shadow-sm">Message Non Lus (<label th:text="${listeDeMessageNonLus.size()}"></label>)</button>
<br>
<br>
				<div class="item message" >
					<table class="table">
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Message</th>
							<th scope="col"></th>

						</tr>
						<tbody th:each="message: ${listeDeMessage}">
							<td th:text="${#dates.format(message.date, 'dd-MM-yyyy')}"></td>
							<td scope="row" th:text="${message.message}"></td>

							<td scope="row"><a
								th:href="@{/admins/discussionChargeCom/{idDiscussion}(idDiscussion=${message.discussion.id})}">
								<i class="fa fa-reply" style="color : brown;"></i></a></td>

						</tbody>
					</table>
				</div>
				<div class="item messageNonLus" style="display:none">

					<table class="table">
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Message</th>
							<th scope="col"></th>

						</tr>
						<tbody th:each="message: ${listeDeMessageNonLus}">
							<td scope="row" th:text="${#dates.format(message.date, 'dd-MM-yyyy')}"></td>
							<td scope="row" th:text="${message.message}"></td>

							<td scope="row"><a
								th:href="@{/admins/discussionChargeCom/{idDiscussion}(idDiscussion=${message.discussion.id})}"><i
									class="fa fa-reply"></i></a></td>

						</tbody>
					</table>
				</div>
				
			</div>
			
		</div>
	</div>



	</div>

<script> 



$(document).ready(function(){
    $('#btn_Message').click(function() {
      $('.message').show();
  		
  		
  		$('.messageNonLus').hide();
    });
});

$(document).ready(function(){
    $('#btn_MessageNonLus').click(function() {
      $('.messageNonLus').show()
      $('.message').hide();
    });
});

</script>

</body>
</html>