
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Administration</title>

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
 <link rel="stylesheet" th:href="@{/css/BTStyle.css}" />
<link rel="stylesheet" th:href="@{/css/TemplateAdmin.css}" />
<link rel="stylesheet" th:href="@{/css/StyleAdmin.css}" />
<!-- Demo CSS -->
<link rel="stylesheet" href="css/demo.css">

<script>
		$(document).ready(function(){
			$(".hamburger .hamburger__inner").click(function(){
			  $(".wrapper").toggleClass("active")
			})

			$(".top_navbar .fas").click(function(){
			   $(".profile_dd").toggleClass("active");
			});
		})
	</script>
</head>
<body>
<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="hamburger__inner">
         <div class="one"></div>
         <div class="two"></div>
         <div class="three"></div>
       </div>
    </div>
    <div class="menu">
     <div class="logo">Before Tomorrow</div>
      <div class="right_menu">
        <ul>
          <li><i class="fas fa-user"></i>
            <div class="profile_dd">
        
             <div class="dd_item"> <a href="#"  th:href="@{/logout}" >
                  					<span class="title">Deconnexion</span>
                					</a>
                				</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="main_container">
      <div class="sidebar">
          <div class="sidebar__inner">
            <div class="profile">
              <div class="img">
<!--                 <img src="img/pic.png" alt="profile_pic"> -->
              </div>
              <div class="profile_info">
                 <p>Bonjour</p>
                 <p class="profile_name" th:text="${Admin.personne.nom}" ></p>
              </div>
            </div>
            <ul>
              <li th:if="${Admin.personne.role.toString() == 'ROLE_DIRECTEUR'}">
                <a href="#"  th:href="@{/admins/financementProjet}"  class="active">
                  <span class="icon"><i class="fas fa-dice-d6"></i></span>
                  <span class="title" >Projet</span>
                </a>
              </li>

              <li th:if="${Admin.personne.role.toString() == 'ROLE_DIRECTEUR'}">
                <a href="#"  th:href="@{/admins/employes}">
                  <span class="icon"><i class="fab fa-delicious"></i></span>
                  <span class="title">Employé</span>
                </a>
              </li>
              <li th:if="${Admin.personne.role.toString() == 'ROLE_DIRECTEUR'}">
                <a href="#"  th:href="@{/admins/statistique}">
                  <span class="icon"><i class="fas fa-chart-pie"></i></span>
                  <span class="title">Statistique<span>
                </a>
              </li>
         
            </ul>
          </div>
      </div>
			<div class="containerr">

			<header class="intro">
					<h1>Projets</h1>
					
				</header>



				<div class="item">

					<h4>PROJET EN FIN DE COLLECTE</h4>

					<table class="table">
						<tr>
							<th scope="col">Titre</th>
							<th scope="col">Montant</th>
							<th scope="col">Montant collecte</th>
							<th scope="col">Mise en paiement</th>
							<th scope="col">Annule la collecte</th>
						</tr>
						<tbody th:each="collecte: ${ListeDeCollecte}">
							<td>
								<p th:each="contenu : ${ListeDeContenuCollecte}">
								    <span th:if="${contenu.collecte.id == collecte.id}">
									<span th:text="${contenu.nomProjet}"></span>


</span>
								</p>
							</td>
							

							<form action="#" th:action="@{/admins/finDeFinancementD/}"
								method="post">
								<td scope="row" th:text="${collecte.montantDemande}"></td>

								<td scope="row" th:text="${collecte.montantCollecte}"></td>


								<td scope="row"><input type="submit" name="ChoixDirecteur"
									value="valider" class="btn btn-custom-validation text-uppercase mb-2 shadow-sm" /></td>

								<td scope="row"><input type="submit" name="ChoixDirecteur"
									value="refuser" class="btn btn-custom-validation text-uppercase mb-2 shadow-sm" /></td> <input
									type="hidden" th:value="${collecte.cycle.projet.id}"
									name="idProjet">



							</form>

						</tbody>
					</table>

					<br>
				</div>





			</div>
		</div>

	</div>


</body>
</html>