<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Recherche</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/mapStyle.css}" />
<link rel="stylesheet" th:href="@{/css/BTStyle.css}" />
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/core.js}"></script>
<script th:src="@{js/maps.js}"></script>
<script th:src="@{js/worldLow.js}"></script>
<script th:src="@{lang/FR.js}"></script>
<script th:src="@{js/moonrisekingdom.js}"></script>
<script th:src="@{js/animated.js}"></script>
<script th:src="@{js/accueil.js}"></script>
</head>

<body>

	<!-- MENU SUPERIEUR -->
	<div class=container-fluid>
		<!-- NAVBAR -->
		<nav
			class="navbar navbar-expand-lg navbar-light bg-rose sticky-top fixed-top">
			<button class="navbar-toggler" type="button"
				data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
				aria-controls="navbarExample01" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarExample01">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-end">
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/accueil}"
						style="font-variant: small-caps; font-family: Lemon; font-size: 200%;">Before
							Tomorrow</a></li>
					<li
						th:if="${projetuser != null && projetuser.etat.toString() == 'REJETE' }"
						class="nav-item"><a class="nav-link" href="#"
						th:href="@{/lancerUnProjet/lancerProjet}"><span
							class="fas fa-location-arrow fa-2x"></span><span> Lancer
								un nouveau projet</span></a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/compte/messagerieSupport}"><span
							class="fas fa-question-circle fa-2x"></span><span></span></a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item active"><a
						class="nav-link" aria-current="page" href="#" th:href="@{/logout}"><span
							class="fas fa-map-signs fa-2x"></span><span> Se
								déconnecter</span></a></li>
					<li sec:authorize="isAnonymous()" class="nav-item active"><a
						class="nav-link" aria-current="page" href="#"
						th:href="@{/users/login}"><span class="fas fa-map-signs fa-2x"></span><span>
								Se connecter</span></a></li>
				</ul>
				<ul class="navbar-nav d-flex align-items-end">
					<li th:if="${discussion != null && discussion.staff != null }"
						class="nav-item"><a class="nav-link" href="#"
						th:href="@{/compte/messagerie}"><span
							class="fas fa-envelope fa-2x" style="color: #009F4D;"></span><span
							style="color: #009F4D;"> </span></a></li>

					<li th:if="${projetuser == null}" class="nav-item"><a
						class="nav-link" href="#"
						th:href="@{/lancerUnProjet/lancerProjet}"><span
							class="fas fa-location-arrow fa-2x" style="color: #1A658F;"></span><span
							style="color: #1A658F;"> Lancez votre projet !</span></a></li>
					<li
						th:if="${projetuser != null && projetuser.etat.toString() == 'EN_PREPARATION_DE_COLLECTE'}"
						class="nav-item">
						<form action="#" th:action="@{/projet/showProjet/}" method="get">
							<button type="submit" class="btn-navbar-collecte" name="id"
								th:value="${projetuser.id}">
								<span class="fas fa-pen-nib fa-2x"></span><span> Éditer
									mon projet</span>
							</button>
						</form>
					</li>
					<li
						th:if="${projetuser != null && projetuser.etat.toString() == 'EN_PREPARATION_DE_MISSION'}"
						class="nav-item">
						<form action="#" th:action="@{/showMission}" method="get">
							<button type="submit" name="id" th:value="${projetuser.id}"
								class="btn-navbar-mission">
								<span class="fas fa-pen-nib fa-2x btn-navbar-mission"></span><span>
									Éditer ma mission</span>
							</button>
						</form>
					</li>
					<li
						th:if="${projetuser != null && projetuser.etat.toString() == 'EN_MISSION'  }"
						class="nav-item">
						<form action="#" th:action="@{/actualites}" method="get">
							<button type="submit" class="btn-navbar-mission" name="id"
								th:value="${projetuser.id}">
								<span class="fas fa-edit fa-2x"></span><span> Publier une
									actualité</span>
							</button>
						</form>
					</li>
					<li
						th:if="${projetuser != null &&  projetuser.etat.toString() == 'EN_CAMPAGNE_DE_COLLECTE'  }"
						class="nav-item">
						<form action="#" th:action="@{/actualites}" method="get">
							<button type="submit" class="btn-navbar-collecte" name="id"
								th:value="${projetuser.id}">
								<span class="fas fa-edit fa-2x"></span><span> Publier une
									actualité</span>
							</button>
						</form>
					</li>
				</ul>
			</div>
		</nav>

	</div>
	<!-- FIN NAVBAR-->
	<div class="p-5 text-center bg-image bt-custom-header">
		<div class="mask" style="background-color: rgba(0, 0, 0, 0.2)">
			<div class="d-flex justify-content-center align-items-center h-50">
				<div class="text-white">
					<h1 class="mb-3 bt-font-lemon"></h1>
					<h5 class="mb-3">Plateforme de financement participatif pour
						la recherche scientifique.</h5>
					<h5 class="mb-3">Contribuez aux missions et suivez les
						archéologues dans le monde entier d'une saison à l'autre.</h5>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN IMAGE HEADER-->
	</div>
	<!-- FIN MENU SUPERIEUR  -->
	<!-- EN CE MOMENT  -->

	<br>
	<br>
	<div class="row mt-1 justify-content-center text-center">
		<div class="col col-lg-2 align-item-right">
			<hr class="bt-color-marron">
		</div>
		<div class="col-md-auto">
			<h3 class="bt-color-marron bt-font-lemon">Rechercher</h3>
		</div>
		<div class="col col-lg-2 align-item-left">
			<hr class="bt-color-marron">
		</div>
	</div>
	<!-- FIN EN CE MOMENT  -->

	<div class="container-fluid">

		<input type="button"
			class="btn btn-custom-validation btn-block text-uppercase mb-2 shadow-sm"
			value="Retour" onclick="history.go(-1)"
			style="margin-left: 100px; margin-top: -50px;">
	</div>
	<br>
	<br>
	<div class="container">

		<form action="#" th:action="@{/rechercherProjet/recherche}"
			th:object="${RechercheForm}" method="post"
			style="margin-left: 100px;">
			<div class="row">
				<div class="col-md-3">
					<label class="bt-color-marron bt-font-lemon">Thématique</label> <select
						class="form-control" name="thematique" th:field="*{thematique}">
						<option text="" value=""></option>
						<option
							th:each="thematique : ${T(fr.isika.cdi7.fouille.model.Thematique).values()}"
							th:value="${thematique}" th:text="${thematique.thematique}"></option>
					</select>
				</div>
				<div class="col-md-3">
					<label class="bt-color-marron bt-font-lemon">Chronologie</label> <select
						class="form-control" name="chronologie" th:field="*{chronologie}">
						<option text="" value=""></option>
						<option
							th:each="chronologie : ${T(fr.isika.cdi7.fouille.model.Chronologie).values()}"
							th:value="${chronologie}" th:text="${chronologie.chronologie}"></option>
					</select>
				</div>
				<div class="col-md-3">
					<label for="dropOperator" class="bt-color-marron bt-font-lemon">Pays</label>
					<select class="form-control" th:field="*{paysNomfr}"
						id="dropOperator" name="dropOperator">
						<option text="" value=""></option>
						<option th:each="pays : ${paysListe}"
							th:value="${pays.nomPays_fr}" th:text="${pays.nomPays_fr}"></option>
					</select>
				</div>
				<div class="col-md-3">
					<input type="submit" value="rechercher"
						class="btn btn-custom-validation btn-block text-uppercase mb-2 shadow-sm"
						style="margin-top: 30px;">
				</div>
			</div>
			<br>


		</form>
	</div>

	<br>
	<br>
	<br>



	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="collecte" role="tabpanel"
			aria-labelledby="collecte-tab">
			<div class="container" id="collectes">
				<div class="py-5">
					<span style="color: #009F4D;"></span><span
						class="bt-font-lemonRegular bt-color-vert"
						style="font-size: 25px;"> Missions à soutenir </span>
					<div class="row">
						<div class="col-lg-4 mb-3 mb-lg-0"
							th:each="c : ${collectesAfficher}">
							<!-- for each -->
							<div class="hover hover-4 text-white rounded mt-2">
								<img
									th:src="'/AccueilImage?contenuCollecteId='+${c.contenuCollecte.id}"
									alt="">
								<div class="hover-overlay"></div>
								<a
									th:href="@{/projet/collecteEnCours/{idProjet}(idProjet=${c.cycle.projet.id})}">
									<div class="hover-4-content">
										<h3 class="hover-4-title text-uppercase font-weight-bold mb-0">
											<span
												class="font-weight-light bt-color-vert bt-font-lemonRegular"
												th:text="${c.contenuCollecte.nomProjet}"
												style="background-color: rgba(255, 255, 255, 0.8)"></span>
											<!-- titre collecte -->
										</h3>
										<p
											class="hover-4-description text-uppercase mb-0 small bt-color-vert bt-font-lemon"
											style="background-color: rgba(255, 255, 255, 0.8)"
											th:text="'SAISON ' +${c.cycle.saison}"></p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="tab-content" id="">
		<div class="tab-pane fade show active" id="collecte" role="tabpanel"
			aria-labelledby="collecte-tab">
			<div class="container" id="collectes">
				<div class="py-5">
					<span style="color: #4C12A1;"></span><span
						class="bt-font-lemonRegular bt-color-violet"
						style="font-size: 25px;"> Missions en cours </span>
					<div class="row">
						<div class="col-lg-4 mb-3 mb-lg-0"
							th:each="mission : ${missionAfficher}">
							<!-- for each -->
							<div class="hover hover-4 text-white rounded mt-2">
								<img
									th:src="'/rechercherProjet/missioncontenuImage?contenuMissionId='+${mission.contenuMission.id}"
									alt=""> alt="">
								<div class="hover-overlay"></div>
								<a
									th:href="@{/projet/missionEnCours/{idProjet}(idProjet=${mission.cycle.projet.id})}">
									<div class="hover-4-content">
										<h3 class="hover-4-title text-uppercase font-weight-bold mb-0">
											<span
												class="font-weight-light bt-color-violet bt-font-lemonRegular"
												th:text="${mission.contenuMission.nomMission}"
												style="background-color: rgba(255, 255, 255, 0.8)"></span>
											<!-- titre collecte -->
										</h3>
										<p
											class="hover-4-description text-uppercase mb-0 small bt-color-violet bt-font-lemon"
											style="background-color: rgba(255, 255, 255, 0.8)"
											th:text="'SAISON ' +${mission.cycle.saison}"></p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<br>
	<br>
</body>
</html>